.book .book-header h1 {
  opacity: 1;
  text-align: left;
}

#header .title {
  margin-bottom: 0em;
}
#header h4.author {
  margin: 0;
  color: #666;
}
#header h4.author em {
  font-style: normal;
}

.footnotes {
  font-size: 13px;
}

/* page breaks; aka CSS fragmentation */
.level1 {
  break-before: page;
}
.section > h1, .section > h2, .section > h3, .section > h4, .section > h5, .section > h6 {
  break-after: avoid;
}
.footnotes {
  break-before: always;
  break-after: always;
}
.figure {
  break-inside: avoid;
}

/* do not break captions */
caption {
  break-inside: avoid;
  break-after: avoid;
}

li{
    margin: 1px 0;
}

ol{
    margin: 1px 0;
}
